<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hOME</title>
  <link rel="stylesheet" href="views/app.css">


</head>

<body>


  <br />
  <div>
    <div>
      <h1>Menus: <%= menus[0].direitos %></h1>
      <% if (menus.includes('adm100')> 0) {%>
      <a href="http://">Nível 1</a>
      <br>
      <%}%>
      <% if (user=="admin121") {%>
      <a href="http://">Nível 2</a>
      <br>
      <%}%>
      <%if  (menus.includes('adm131')> 0) {%>
      <a href="http://">Nível 3</a>
      <%}%>
    </div>
    <form action="/logout" method="get">
      <div class="" style="text-align: center;">
        <h1>Hi, <%= user %></h1>
      </div>
      <input type="submit" value="Logdout">
    </form>
  </div>
</body>

</html>